[submodule "Luna"]
	path = Luna
	url = https://github.com/Jaxilian/Luna.git
[submodule "luna"]
	path = luna
	url = https://github.com/Jaxilian/luna.git
[submodule "cglm"]
	path = cglm
	url = https://github.com/recp/cglm.git
