
/.vs
core/core.vcxproj.filters
core/core.vcxproj.user
/editor/bin
editor/editor.vcxproj.filters
editor/editor.vcxproj.user
/editor/obj
/runtime/bin/Debug
/runtime/bin
/runtime/obj
runtime/runtime.vcxproj.filters
runtime/runtime.vcxproj.user
trigon/trigon.vcxproj.filters
trigon/trigon.vcxproj.user
/converter/bin
converter/converter.vcxproj.filters
converter/converter.vcxproj.user
/converter/obj
